# Created by .ignore support plugin (hsz.mobi)
JavaCodePractice.iml
/.idea/
/MybatisDemo/Mybatis01/target/
/JavaWebDemo/target/
/JavaBasicDemo/target/
/SpringDemo/target/
/SpringBootDemo/target/
*.iml

